// Navigation Styles here


nav{
    display: flex;

        a{
        
            font-size: 1.8rem;
            margin-left: 20px;
            color:@font-color;
            text-decoration: none;
            justify-self: space-between;
            align-items: baseline;

        }

        nav .first-anchor {
            margin-left: 1%;
        }

        
        


}

