// Navigation Styles here


.navbox{
display: flex;
flex-direction: column-reverse;
    nav{
        //width: 40%;
        //display: flex;
        //justify-content: space-around;
        display: flex;
        justify-content: space-between;
        width: 800px;
        margin-right: 60%;
        
        a {
            margin-left: 20px;
            font-size: 1.8rem;
            color:@font-color;
            text-decoration: none;
            
            &:hover{
            color:@font-color;
            @media @mobile {
                flex-direction: column;
                align-items: center;
            }
            } // hover tag
        }// this closes the a tag
    }// this closes the nav}
}